<h1>Evento</h1>
<button [disabled]=" btnDisabled">Enviar</button>
<button (click)="toggleButton()">Tooggle</button>
<p>Edad {{age}}</p>
<button (click)="increaseAge()">Ege ++</button>
<button (click)="restarAge()">Restar Edad</button>
<div class="box" (scroll)="onScroll($event)">
  <p>
    lorem ipsum lorem ipsum
    lorem ipsum lorem ipsum
    lorem ipsum lorem ipsum
    lorem ipsum lorem ipsum
    lorem ipsum lorem ipsum
    lorem ipsum lorem ipsum
    lorem ipsum lorem ipsum
    lorem ipsum lorem ipsum
    lorem ipsum lorem ipsum
    lorem ipsum lorem ipsum
    lorem ipsum lorem ipsum
    lorem ipsum lorem ipsum
    lorem ipsum lorem ipsum
    lorem ipsum lorem ipsum
    lorem ipsum lorem ipsum
    lorem ipsum lorem ipsum
    lorem ipsum lorem ipsum
    lorem ipsum lorem ipsum


  </p>
</div>
<input type="text" [value]="name" (keyup)="changeName($event)" />
<p>nombre {{name}}</p>


<h1>NgModel</h1>
<p>nombre {{name}}</p>
<p>Age{{age}}</p>

<input type="number" max="50" min="10" required #nameInput="ngModel" [(ngModel)]=" age" />
<input type="text" required #nameInput="ngModel" [(ngModel)]=" name" />
<p>valid: {{nameInput.valid}}</p>


<h1>Propiedades</h1>
<button [disabled]=" btnDisabled">Enviar</button>
<input type="text" [value]="name" />
<progress max="100" [value]="age"></progress>


<hr />
<h1>Hola Mundo</h1>
<h2>{{"Hola Mundo ".repeat(5) }}</h2>
<p>3 + 3 = {{ 3 + 3}}</p>
<h3>Hola, soy {{name}}</h3>
<h4>y tengo {{age}} años</h4>
